<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Agregar Consulta</h2>
    <div class="row g-3">

      <form action="/api/usuario/historias_clinicas/{{id}}" method="POST">
        <div class="row">
          <div class="col 3">
            <h3>Datos Personales</h3>
             <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                name="id_paciente"
                value="{{id}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="nombres">Nombre Completo</label>
              <input
                type="text"
                class="form-control"
                id="nombres"
                name="nombre_completo"
                value="{{nombre_completo}}"
                readonly="true"
              />
            </div>
           {{#each paciente}}
            {{#if nombre}}
              <div class="form-group">
                <label for="dnis">Dni</label>
                <input
                  type="text"
                  class="form-control"
                  id="dnis"
                  name="dni"
                  placeholder="Ingresar DNI"
                  value = "{{dni}}"
                  readonly="true"
                />
              </div>
             {{/if}}
           {{/each}}
            <div class="form-group">
              <label for="fecha_nacimiento">Fecha Nacimiento</label>
              <input
                type="date"
                class="form-control"
                id="fecha_nacimiento"
                name="fecha_nacimiento"
                value="{{nacimiento}}"
                readonly="true"
              />
            </div>
          {{#each paciente}}
            {{#if nombre}}
            <div class="form-group">
              <label for="">Direccion</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="direccion"
                placeholder="Ingresar Dirección"
                value="{{direccion}}"
                readonly="true"
              />
            </div>

            <div class="form-group">
              <label for="">Localidad</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="localidad"
                placeholder="Ingresar localidad"
                value="{{localidad}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="emails">Email</label>
              <input
                type="text"
                class="form-control"
                id="emails"
                name="email"
                placeholder="Ingrese un email"
                value="{{email}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="">Telefono 1</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="telefono_1"
                placeholder="Ingresar teléfono 1"
                value="{{telefono_1}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="">Telefono 2</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="telefono_2"
                placeholder="Ingresar teléfono 2"
                value="{{telefono_2}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="">Obra Social</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="obra_social"
                placeholder="Ingresar obra social"
                value="{{obra_social}}"
                readonly="true"
              />
            </div>
            <div class="form-group">
              <label for="">Identificación obra social</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="id_obra_social"
                placeholder="Ingresar identificacion obra social"
                value="{{id_obra_social}}"
                readonly="true"
              />
            </div>
             {{/if}}
           {{/each}}
          </div>
          <div class="col 3">
            <h3>Datos Consulta</h3>
            <div class="form-group">
              <label>Fecha Consulta</label>
              <input type="date" 
                     class="form-control" 
                     name="fecha_consulta" 
                     required="true"/>
              <br />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="motivos_consulta"
                id="floatingTextarea"
                placeholder="Motivos Consulta.."
              ></textarea>
              <br />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="condicion_actual"
                placeholder="Condición Actual.."
              ></textarea>
              <br />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="antecedentes_salud"
                placeholder="Antecedentes de Salud.."
              ></textarea>
              <br />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="comentarios"
                placeholder="Comentarios.."
              ></textarea>
              <br />
            </div>
          </div>
          <div class="col 3">
            <h3>Agregar Archivos adjuntos</h3>

            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
        <button class="btn btn-primary"><a href="./usuario">Volver</a></button>
      </form>
    </div>
  </body>
</html>